body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/*Banner part start*/
.banner {
    height: 900px;
    display: flex;
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    justify-content:center;
}

.banner-right-side{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 600px;
    width: 395px;
}

.banner-right-side h1{
    text-align:right;
    font-size: 50px;
}

.banner-right-side span{
    color: #444343;
    text-align:right;
    line-height: 0.7cm;
}

.button-design-1 {
    text-decoration: none;
    background-color: #F15B22;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align:center;
    width: 90px;
    margin-left: 265px;
    margin-top: 25px;
}
/*Banner part end*/

/*Failure part start*/
.failure {
    display: flex;
    justify-content:center;
    margin-top: 100px;
}


.failure-right-side{
    padding-top: 210px;
    margin-left: 70px;
    width: 395px;
}


.failure-right-side h1{
    text-align:left;
    font-size: 35px;
}

.failure-right-side span{
    color: #444343;
    text-align:left;
    line-height: 0.7cm;
}

#list{
    list-style-type: none;
    margin: 22px 0px;
    padding: 0;
}

.failure-right-side ul li{
    list-style: none;
    font-size: 16px;
    line-height: 0.9cm;
    color: #444343;
}

.failure-right-side ul li i {
    color: #16D887;
}
/*Failure part end*/

/*My plans part start*/
.plan{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

h1{
    text-align:center;
    font-size: 35px;
}

.plan-items{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 45px;
}

h2{
    font-weight: bolder;
}

.item span{
    color: #737272;
    font-weight: 600;
}
/*My plans part end*/

/*Bonus part start*/
.experience{
    margin-top: 120px;
}

.experience h1{
    text-align:center;
    font-size: 35px; 
}

.experience h1{
    color: #16D887;
}

.experience1 {
    display: flex;
    justify-content: space-around;
}

.experience h3 {
    color: orange;
}

.experience1-width{
    width: 30%;
    height: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

#full-stack {
    border-left: 7px solid tomato;
    box-shadow: 5px 7px 40px gray;
}

#baby-web {
    border-left: 7px solid blue;
    box-shadow: 5px 7px 40px gray;
}
/*Bonus part end*/

/*Mindset part start*/
.mindset{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    flex-basis: 50px;
}

.watch{
    background-image: linear-gradient(to right, rgba(241, 91, 34, 1), rgba(241, 91, 34, 0)), url("images/watch.png");
    background-size: cover;
    width: 1200px;
    height: 300px;
    border-radius: 8px;
    flex-basis: 930px;
}

.watch h2{
    font-size: 40px;
    color: white;
    padding-left: 65px;
    padding-top: 25px;
}

.watch button{
    text-decoration: none;
    background-color: white;
    padding: 18px 15px;
    border-radius: 5px;
    border: none;
    color: #F15B22;
    font-weight: 700;
    font-size: 20px;
    text-align:center;
    width: 155px;
    margin-left: 66px;
}
/*Mindset part end*/

/*Footer part start*/
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    background-color: black;
    height: 550px;
    width:100%;
}

.future{
    margin-top: 80px;
    margin-left: 210px;
}

.future h1{
    color: white;
    text-align: left;
}

.subscribe{
    margin-top: 100px;
    color: white;
    margin-right: 210px;
}

.future p{
    color: white;
    width: 380px;
    line-height: 0.7cm;
}

.future img{
    margin-top: 10px;
    padding-left: 10px;
    
}

.future img:nth-last-child(3){
    padding-left: 0px;
    
}

.subscribe input{
    background-color: #151414;
    border-radius: 9px;
    padding: 20px 80px 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    border-color: white;
}

.subscribe button{
    text-decoration: none;
    background-color: white;
    padding: 18px 15px;
    border-radius: 5px;
    border: none;
    color: #f15b22;
    font-weight: 700;
    font-size: 20px;
    text-align:center;
    width: 155px;
    display: block;
}

/*Footer part end*/



